<div>
<h1 class="c">Announcement E-mail</h1>
<div class="border_mail_outer">
    <div class="border_mail">
        <div class="mail_header">
            <p class="padding_mail">
                Hello Ashwith Gundu,<br><br>
                This is an announcement regarding the show <kbd>AVANGERS</kbd> at <kbd>6:00PM</kbd> on <kbd>20th
                    August, 2018</kbd>.
                Please make sure you reserve the date.
                <br>
                <br>
                To Reset link please
                <button type="button" class="btn btn-secondary">Click Here</button>

            </p>


        </div>
        <div class="row mail_foot">
            <div class="col-md-6 ">
                <div class="pl-3">
                    <p>Ron Houston Center for the Performing Arts
                        <br>College Park Dr,
                        <br>Maryville,
                        <br>MO 64468</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-3 pb-3">
                    <img class="img_mail_in" src="" alt="">
                </div>
            </div>
        </div>
    </div>

</div>
</div>